<!DOCTYPE html>
<html>
  <head>
    <title>Author</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Esta práctica la ha realizado:  <%= nombre %></h1>
    <p>Aquí pueden encontrar una foto suya: </p>
    <img src="<%- foto %>"/>
    <p><iframe src="<%- video %>" allowfullscreen=""

          frameborder="0" height="315" width="560">></iframe></p>
  </body>
  <footer>
  	<p>El proyecto GitHub se encuentra <a href="https://github.com/Brechard/practica5.1.git"> aquí </a></p>
  </footer>
</html>
