<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav><a href="<% direccion %>/author"> Autor</a></nav>
    <h1>Bienvenido a la Práctica <%= title %></h1>
    <p>Realizada por Rodrigo Brechard Alarcia</p>
  </body>
  <footer>
  	<p>El proyecto GitHub se encuentra <a href="https://github.com/Brechard/practica5.1.git"> aquí </a></p>
  </footer>
</html>
